<title>Verify Your Email</title>
<style type='text/css'>

  body { font-family: 'Roboto', sans-serif; } .container { width: 100%; height:
  100%; } .container img { width: 100%; height: 100%; object-fit: cover; }
  button { background-color: black; color: white; font-family: 'Oswald',
  sans-serif; font-weight: bold; border: none; padding: 10px 20px;
  text-decoration: none; display: inline-block; font-size: 16px; margin: 4px
  2px; cursor: pointer; border-radius: 5px;} .disclaimer { font-size: 10px; }

</style>

<div class='container'>
  <a href='https://workea.me'>
    <img src='{{appLogoUrl}}' alt='app_logo' />
  </a>
</div>

<div><hr /></div>

<h2>Hola {{userName}}</h2>

<p>Para restablecer tu contraseña haz click en el siguiente enlace:</p>

<div>
  <a href='{{verificationLink}}'>
    <button type='button'>Restablecer tu contraseña</button>
  </a>
</div>

<p>Recuerda que este enlace expira en 24 horas</p>

<p>Si tu no solicitaste el cambio de contraseña, no te preocupes tus datos están
  seguros, puedes ignorar este correo.</p>

<hr />

<div>El boton no funciona? intenta pegar este enlace en tu navegador.</div>

<div>
  <a href='{{verificationLink}}'>{{verificationLink}}</a>
</div>

<div><hr />
  <p class='disclaimer'>Este es un correo automatizado favor de no responderlo.
    Hecho con ❤️ por el equipo de Workea.</p>
</div>